<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="preconnect" href="https://fonts.gstatic.com"/>
		<meta name="author" content="Pierre Thiollent">
		<title>
			{% block title %}
				[Dev] SuperBlog
			{% endblock %}
		</title>

		{% block stylesheets %}{% endblock %}

		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="/assets/css/style.css"/>
		<link rel="stylesheet" href="/assets/css/tiny-slider.css"/>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	</head>
	<body>
		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close">
					<span class="icofont-close js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body">
				<ul class="site-nav-wrap">
					<li class="active">
						<a href="/">
							Home
						</a>
					</li>
					<li class="">
						<a href="/articles">
							Articles
						</a>
					</li>
					<li class="">
						<a href="/contact">
							Contact
						</a>
					</li>
					{% if session.user is null %}
						<li class="">
							<a href="/inscription">
								S'inscrire
							</a>
						</li>
					{% endif %}
					{% if session.user %}
						<li class="">
							<a href="/mon-compte">
								Mon compte
							</a>
						</li>
					{% else %}
						<li class="">
							<a href="/connexion">
								Connexion
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
		<nav class="site-nav">
			<div class="container">
				<div class="site-navigation">
					<div class="row">
						<div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
							<a href="/" class="logo m-0 text-uppercase">
								SuperBlog
							</a>
						</div>
						<div class="col-md-3 order-3 order-md-1">
							<form action="#" class="search-form">
								<span class="icon-search2"></span>
								<span class="fal fa-search icon-search2"></span>

								<input type="search" class="form-control" placeholder="Search..."/>
							</form>
						</div>
						<div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
							<div class="d-flex">
								<ul class="list-unstyled social me-auto">
									<li>
										<a href="https://www.facebook.com/pierre.thiollent" target="_blank">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/Pierre_t76" target="_blank">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/pierre_thiollent/" target="_blank">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
								</ul>
								<span class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block" data-toggle="collapse" data-target="#main-navbar">
									<span></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		{% block body %}{% endblock %}

		<div class="py-5 bg-light sec-subscribe">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="h4 fw-bold">
							Subscribe to newsletter
						</h2>
					</div>
				</div>
				<form action="" class="row">
					<div class="col-md-8">
						<div class="mb-3 mb-md-0">
							<input type="email" class="form-control" placeholder="Enter your email"/>
						</div>
					</div>
					<div class="col-md-4 d-grid">
						<input type="submit" class="btn btn-primary" value="Subscribe"/>
					</div>
				</form>
			</div>
		</div>
		<footer class="site-footer">
			<div class="container">
				<div class="row justify-content-center copyright">
					<div class="col-lg-7 text-center">
						<div class="widget">
							<ul class="social list-unstyled">
								<li>
									<a href="https://www.facebook.com/pierre.thiollent" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/Pierre_t76" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/in/pierre-thiollent/" target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/PierreThiollent" target="_blank">
										<i class="fab fa-github"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="widget">
							<p>
								Copyright ©
								<script>
									document.write(new Date().getFullYear());
								</script>
								All rights reserved | This template is made with
								<i class="icon-heart text-danger" aria-hidden="true"></i>
								by
								<a href="https://colorlib.com" target="_blank" rel="nofollow noopener">
									Colorlib
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/tiny-slider.js"></script>
		<script src="/assets/js/navbar.js"></script>
		<script src="/assets/js/custom.js"></script>

		{% block script %}{% endblock %}
	</body>
</html>
